importFrom("rTensor", "as.tensor", "rand_tensor", "fold", "cs_unfold", "rs_unfold")
importFrom("tensorr", "as_sptensor", "dtensor", "unfold")
importFrom("PTAk", "CONTRACTION")
importFrom("Matrix", "qr", "qr.Q")
importFrom("methods", "as", "is")
importFrom("stats", "runif")

export(
    TTSVD,
    TTWOPT,
    maxvol,
    skeleton.decomp,
    TTCross
	)